.forecast-card {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fade 300ms ease-in-out 1 forwards;

  width: $card-width;
  height: $card-height;
  padding: $card-padding;


  background: $card-bg;
  
  &__day-name {    
    color: $darker-text-color;    
  }

  &__icon {
    width: $forecast-icon-size;
    height: $forecast-icon-size;
  }

  &__temperatures {
    justify-content: space-between;  

    &--minimum {
      color: $lighter-text-color;
    }

    &--maximum {
      color: $text-color;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}