*, *::before, *::after {  
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #eaeaea;
}

span {
  margin: 2px;


  font-size: 14px;
  font-weight: bolder;

  text-align: center;
}

div {
  display: flex;
}

h1 {
  font-size: 16px;
  text-align: center;

  margin: 0;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  
  align-items: center;
  justify-content: center; 
}