$bg-color: #eaeaea;
$card-bg: #fff;
$text-color: #c8c8c8;
$lighter-text-color: #d8d8d8;
$darker-text-color: #a1a1a1;


$title-font-size: 16px;
$font-size: 14px;


$list-border-radius: 4px;


$card-width: 100px;
$card-height: 140px;
$card-padding: 10px;

$forecast-icon-size: 60px;